{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} user-profile
{% endspaceless %}{% endblock %}


{% block content_top %}
    {% include "account/includes/user-profile-salon-nav.html" %}
{% endblock %}


{% block content %}
    <div class="container">
        {% if client_appontents %}
            <div class="h2">Календарь записей</div>
            <p>TODO: CALENDAR</p>

            <h2>Записи кратко</h2>
            {% for object in client_appontents %}
                <div style="margin-bottom: 30px;">
                    <div>Дата: {{ object.datetime|date:"d-m-Y H:i" }}</div>
                    <!-- <div>Салон: {{ object.employee.salon.name }}</div> -->
                    <!-- <div>Мастер: {{ object.employee.get_employee_full_name }}</div> -->
                    <div>Имя клиента: {{ object.client.first_name }}</div>
                    <div>Услуги: {{ object.services.all|join:" + " }}</div>
                    <div>Цена: {{ object.calculate_total_services_price }} руб.</div>
                    <div>Статус: {{ object.get_status_display }}</div>
                </div>
            {% endfor %}

            <div class="h2">Детальный журнал записей</div>
        {% endif %}
    </div>
{% endblock %}