.company-tenders {
    background-image: url('images/bg-lightgrey-line.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;

    #section-register-in-tender {
        padding-top: 0;
    }

    #section-vacancies-list {
        background-color: #EEE;
    }
}
