#section-mortgage-types {
    &__inner {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-down(sm) {
            grid-template-columns:  1fr;
        }
    }
}
