<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ request.scheme }}://{{ request.get_host }}/brands</loc>
        <changefreq>weekly</changefreq>
        <priority>0.7</priority>
    </url>

    {% for object in brands %}
        <url>
            {# <!-- <loc>{{ request.scheme }}://{{ request.get_host }}{{object.get_absolute_url }}</loc> --> #}
            <loc>{{ request.scheme }}://{{ request.get_host }}/brands/{{ object.slug }}</loc>
            <changefreq>monthly</changefreq>
            <priority>0.6</priority>
        </url>
    {% endfor %}
</urlset>
