<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ request.scheme }}://{{ request.get_host }}</loc>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>

    <url>
        <loc>{{ request.scheme }}://{{ request.get_host }}/sitemap/companies.xml</loc>
        <changefreq>daily</changefreq>
        <priority>0.9</priority>
    </url>

    <url>
        <loc>{{ request.scheme }}://{{ request.get_host }}/sitemap/brands.xml</loc>
        <changefreq>weekly</changefreq>
        <priority>0.7</priority>
    </url>

    <url>
        <loc>{{ request.scheme }}://{{ request.get_host }}/sitemap/categories.xml</loc>
        <changefreq>weekly</changefreq>
        <priority>0.7</priority>
    </url>

    {% comment %}
    <!-- <url>
        <loc>https://{{ request.get_host }}/categories</loc>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url> -->

    <!-- <url>
        <loc>https://{{ request.get_host }}/services</loc>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url> -->


    <!-- {% for object in courses %}
    <url>
        <loc>{# request.scheme #}https://{{ request.get_host }}{{ object.get_absolute_url }}</loc>
        <lastmod>{{ object.updated|date:"Y-m-d" }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.9</priority>
    </url>
    {% endfor %} -->
    {% endcomment %}
</urlset>
