{% extends 'base.html' %}

{% load custom_filters %}

{% block body_classes %}{% spaceless %}
    {{ block.super }} objects
{% endspaceless %}{% endblock %}


{% block content %}
    <nav id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'homepage' %}">Главная</a>
                </li>
                <li class="breadcrumb-item active">{{ page_title }}</li>
            </ol>
        </div>
    </nav>

    <main id="main">
        <div id="page-title-h1" class="container">
            <h1>{{ page_title }}</h1>
        </div>

        {% if object_list %}
            <section id="section-objects-list" class="common-section">
                <div class="common-section__title container">
                    {% if objects_qty %}
                        <h2>{{ objects_qty }} объект{% if objects_qty >= 2 and objects_qty <= 4 %}а{% elif objects_qty >= 5 and objects_qty <= 20 %}ов{% endif %} в продаже</h2>
                    {% endif %}
                    <span class="common-section__title--right">
                        <a href="#compleated-projects" class="scale-line">Завершенные объекты</a>
                    </span>
                </div>
                <div class="common-section__inner-grid container">
                    {% for object in object_list %}
                        {% include 'realty/cards/object-card.html' %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </main>

    {% if objects_sold %}
        <div id="compleated-projects" style="padding-top: 90px;"></div>
        <div class="common-section">
            <div class="common-section__title container">
                <div class="h2">Завершенные объекты</div>
            </div>
            <div class="common-section__inner-grid container">
                {% for object in objects_sold %}
                    {% include 'realty/cards/object-card.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% include 'sliders/section-compleated-projects.html' %}
{% endblock %}
