{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} commercial-object-page
{% endspaceless %}{% endblock %}


{% block content %}
    <main id="main">
        {% spaceless %}
        <section id="section-object-page-main-info"{% if not object.all_sold %} data-sites-info-api-url="{% url 'api:object-commercial:sites-info' object_commercial_id=object.id %}"{% else %} class="sold"{% endif %} style="background-image: url('{% spaceless %}
            {% if object.main_image %}
                {{ object.main_image.url }}
            {% else %}
                https://via.placeholder.com/1920x1080/EEEEEE/555555?text=No+Image
            {% endif %}{% endspaceless %}');">
        {% endspaceless %}

            {% if not object.all_sold %}
                <div id="section-object-page-main-info__stats">
                    <div class="stats-item">
                        <div class="stats-item__label">Площадь</div>
                        <div class="stats-item__val">
                            <span class="obj-area-min"></span>
                            <span class="obj-area-max"></span>
                        </div>
                    </div>
                    <div class="stats-item">
                        <div class="stats-item__label">Стоимость</div>
                        <div class="stats-item__val">
                            <span class="obj-min-price"></span>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if object.object_type or object.name %}
                <div id="section-object-page-main-info__h1-title">
                    <h1>
                        <span id="section-object-page-main-info__h1-title--type">{{ object.object_type }}</span>
                        {% if object.name %}
                            <span id="section-object-page-main-info__h1-title--name">{{ object.name }}</span>
                        {% endif %}
                    </h1>
                </div>
            {% endif %}
        </section>

        <div id="section-sites-types">
            <div id="section-sites-types__inner" class="container">
                <div id="section-sites-types__bottom">
                    <div id="commercial-qty-block">
                        <div id="commercial-qty-block__number"></div>
                        <div id="commercial-qty-block__text">помещений в продаже</div>
                    </div>
                    <div id="commercial-text-block">Возможно объединение помещений<br>Подробности по телефону</div>
                    <div id="commercial-phone-block">
                        <a href="tel:+78003028808">8 800 302-88-08</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-object-infrastructure">
            <div style="background-color: #CCC; display: block; min-height: 600px; width: 100%;"></div>
        </div>

        <!-- <div id="section-object-info" class="common-section">
            <div id="section-object-info__inner" class="container">
                <div class="nav nav-pills" id="object-info-pills-tabs" role="tablist">
                    <a class="nav-link active"
                        id="object-info-pills-about-tab"
                        data-toggle="pill"
                        href="#object-info-pills-about"
                        role="tab"
                        aria-controls="object-info-pills-about"
                        aria-selected="true">О бизнес-центре</a>
                    <a class="nav-link"
                        id="object-info-pills-architecture-tab"
                        data-toggle="pill"
                        href="#object-info-pills-architecture"
                        role="tab"
                        aria-controls="object-info-pills-architecture"
                        aria-selected="false">Архитектура</a>
                    <a class="nav-link"
                        id="object-info-pills-location-tab"
                        data-toggle="pill"
                        href="#object-info-pills-location"
                        role="tab"
                        aria-controls="object-info-pills-location"
                        aria-selected="false">Расположение</a>
                    <a class="nav-link"
                        id="object-info-pills-communications-tab"
                        data-toggle="pill"
                        href="#object-info-pills-communications"
                        role="tab"
                        aria-controls="object-info-pills-communications"
                        aria-selected="false">Коммуникации</a>
                    <a class="nav-link"
                        id="object-info-pills-arrangement-tab"
                        data-toggle="pill"
                        href="#object-info-pills-arrangement"
                        role="tab"
                        aria-controls="object-info-pills-arrangement"
                        aria-selected="false">Планировки</a>
                    <a class="nav-link"
                        id="object-info-pills-maintenance-tab"
                        data-toggle="pill"
                        href="#object-info-pills-maintenance"
                        role="tab"
                        aria-controls="object-info-pills-maintenance"
                        aria-selected="false">Обслуживание</a>
                </div>
                <div class="tab-content" id="object-info-pills-tabs-content">
                    <div class="tab-pane fade show active"
                        id="object-info-pills-about"
                        role="tabpanel"
                        aria-labelledby="object-info-pills-about-tab">
                        <div class="tab-pane__inner">
                            <div class="tab-pane__content">
                                <div class="tab-pane__title-group">
                                    <div class="icon icon-object-about"></div>
                                    <h3>О бизнес-центре</h3>
                                </div>
                                <div class="tab-pane__descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias quod ipsa iure, voluptates necessitatibus maxime non eveniet magni asperiores, rem autem distinctio explicabo assumenda voluptas sed quisquam veniam deserunt nulla, qui optio repudiandae fugit nostrum at. Mollitia iste vitae consectetur tenetur laborum, voluptatum explicabo, tempora, quos, porro impedit quo!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut provident nam beatae, corporis facere sit, doloribus, molestiae officiis magni qui. Sit hic facere odio commodi reiciendis earum dicta natus.</p>
                                </div>
                            </div>
                            <div class="tab-pane__img" style="background-image: url('http://monolit.site/media/CACHE/images/2018/03/20/1/a78c24be93f4fb36a50e00ba4561820d.jpg');"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="object-info-pills-architecture"
                        role="tabpanel"
                        aria-labelledby="object-info-pills-architecture-tab">
                        <div class="tab-pane__inner">
                            <div class="tab-pane__content">
                                <div class="tab-pane__title-group">
                                    <div class="icon icon-object-architecture"></div>
                                    <h3>Архитектура</h3>
                                </div>
                                <div class="tab-pane__descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias quod ipsa iure, voluptates necessitatibus maxime non eveniet magni asperiores, rem autem distinctio explicabo assumenda voluptas sed quisquam veniam deserunt nulla, qui optio repudiandae fugit nostrum at. Mollitia iste vitae consectetur tenetur laborum, voluptatum explicabo, tempora, quos, porro impedit quo!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut provident nam beatae, corporis facere sit, doloribus, molestiae officiis magni qui. Sit hic facere odio commodi reiciendis earum dicta natus.</p>
                                </div>
                            </div>
                            <div class="tab-pane__img" style="background-image: url('http://monolit.site/media/CACHE/images/2018/03/26/img_0966222222222/7eb8115e05b0e3701f878f0a93911f65.JPG');"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="object-info-pills-location"
                        role="tabpanel"
                        aria-labelledby="object-info-pills-location-tab">
                        <div class="tab-pane__inner">
                            <div class="tab-pane__content">
                                <div class="tab-pane__title-group">
                                    <div class="icon icon-object-location"></div>
                                    <h3>Расположение</h3>
                                </div>
                                <div class="tab-pane__descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias quod ipsa iure, voluptates necessitatibus maxime non eveniet magni asperiores, rem autem distinctio explicabo assumenda voluptas sed quisquam veniam deserunt nulla, qui optio repudiandae fugit nostrum at. Mollitia iste vitae consectetur tenetur laborum, voluptatum explicabo, tempora, quos, porro impedit quo!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut provident nam beatae, corporis facere sit, doloribus, molestiae officiis magni qui. Sit hic facere odio commodi reiciendis earum dicta natus.</p>
                                </div>
                            </div>
                            <div class="tab-pane__img" style="background-image: url('http://monolit.site/media/CACHE/images/2018/03/26/fb/7f000977f6a8d43c32bdc722b6292f76.jpg');"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="object-info-pills-communications"
                        role="tabpanel"
                        aria-labelledby="object-info-pills-communications-tab">
                        <div class="tab-pane__inner">
                            <div class="tab-pane__content">
                                <div class="tab-pane__title-group">
                                    <div class="icon icon-object-communications"></div>
                                    <h3>Коммуникации</h3>
                                </div>
                                <div class="tab-pane__descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias quod ipsa iure, voluptates necessitatibus maxime non eveniet magni asperiores, rem autem distinctio explicabo assumenda voluptas sed quisquam veniam deserunt nulla, qui optio repudiandae fugit nostrum at. Mollitia iste vitae consectetur tenetur laborum, voluptatum explicabo, tempora, quos, porro impedit quo!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut provident nam beatae, corporis facere sit, doloribus, molestiae officiis magni qui. Sit hic facere odio commodi reiciendis earum dicta natus.</p>
                                </div>
                            </div>
                            <div class="tab-pane__img" style="background-image: url('http://monolit.site/media/CACHE/images/2018/03/26/fabricacommun/862ff2614091268adf6d65af0fe390fc.jpg');"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="object-info-pills-arrangement"
                        role="tabpanel"
                        aria-labelledby="object-info-pills-arrangement-tab">
                        <div class="tab-pane__inner">
                            <div class="tab-pane__content">
                                <div class="tab-pane__title-group">
                                    <div class="icon icon-object-arrangement"></div>
                                    <h3>Планировки</h3>
                                </div>
                                <div class="tab-pane__descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias quod ipsa iure, voluptates necessitatibus maxime non eveniet magni asperiores, rem autem distinctio explicabo assumenda voluptas sed quisquam veniam deserunt nulla, qui optio repudiandae fugit nostrum at. Mollitia iste vitae consectetur tenetur laborum, voluptatum explicabo, tempora, quos, porro impedit quo!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut provident nam beatae, corporis facere sit, doloribus, molestiae officiis magni qui. Sit hic facere odio commodi reiciendis earum dicta natus.</p>
                                </div>
                            </div>
                            <div class="tab-pane__img" style="background-image: url('http://monolit.site/media/CACHE/images/2018/03/26/img_1037_1/4a4d3b472e427110477bc33522369949.JPG');"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="object-info-pills-maintenance"
                        role="tabpanel"
                        aria-labelledby="object-info-pills-maintenance-tab">
                        <div class="tab-pane__inner">
                            <div class="tab-pane__content">
                                <div class="tab-pane__title-group">
                                    <div class="icon icon-object-maintenance"></div>
                                    <h3>Обслуживание</h3>
                                </div>
                                <div class="tab-pane__descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias quod ipsa iure, voluptates necessitatibus maxime non eveniet magni asperiores, rem autem distinctio explicabo assumenda voluptas sed quisquam veniam deserunt nulla, qui optio repudiandae fugit nostrum at. Mollitia iste vitae consectetur tenetur laborum, voluptatum explicabo, tempora, quos, porro impedit quo!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut provident nam beatae, corporis facere sit, doloribus, molestiae officiis magni qui. Sit hic facere odio commodi reiciendis earum dicta natus.</p>
                                </div>
                            </div>
                            <div class="tab-pane__img" style="background-image: url('http://monolit.site/media/CACHE/images/2018/03/26/final_rakurs_1_04/9bc8691dd7887ac8fb66466c984b9a3f.jpg');"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        {% if object_info_tabs %}
            <div id="section-object-info" class="common-section">
                <div id="section-object-info__inner" class="container">
                    <div class="nav nav-pills" id="object-info-pills-tabs" role="tablist">
                        {% for tab in object_info_tabs %}
                            <a class="nav-link{% if forloop.first %} active{% endif %}" id="object-info-pills-{{ tab.id }}-tab" data-toggle="pill" href="#object-info-pills-{{ tab.id }}" role="tab" aria-controls="object-info-pills-{{ tab.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ tab.get_icon_name_display }}</a>
                        {% endfor %}
                    </div>
                    <div class="tab-content" id="object-info-pills-tabs-content">
                        {% for tab in object_info_tabs %}
                            <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="object-info-pills-{{ tab.id }}" role="tabpanel" aria-labelledby="object-info-pills-{{ tab.id }}-tab">
                                <div class="tab-pane__inner">
                                    <div class="tab-pane__content">
                                        <div class="tab-pane__title-group">
                                            <div class="icon icon-object-{{ tab.icon_name }}"></div>
                                            <h3>{{ tab.get_icon_name_display }}</h3>
                                        </div>
                                        <div class="tab-pane__descr">
                                            {{ tab.description|safe }}
                                        </div>
                                    </div>
                                {% if tab.image %}
                                    <div class="tab-pane__img" style="background-image: url('{{ tab.image.url }}');"></div>
                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}


        {% if commercial_sites %}
            <div id="section-sites-list" class="common-section">
                <div class="common-section__title container">
                    <h2>Продажа коммерческой недвижимости в {{ object.object_type }} {{ object.name }}</h2>
                </div>
                <div class="common-section__inner-grid container">
                    {% for object in commercial_sites %}
                        {% include 'realty/cards/site-card.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
