.section-type-one {
    padding-top: 30px;
    padding-bottom: 40px;

    &__title {
        color: #fbddd3;
        margin-bottom: 20px;
        text-align: center;

        h2, .h2 {
            color: #fbddd3;
            font-size: 2.4rem;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__inner {}
}