<section id="section-about">
    <div id="section-about__inner" class="container">
        <article>
            <h2 id="section-about__title">О компании</h2>
            <p>В основе долгосрочной стратегии компании – развитие системного подхода к организации производства и предоставлению услуг, который позволит стабильно обеспечивать наилучший финансовый и репутационный результат.</p>
            <p>Партнерами компании являются ведущие национальные производственные предприятия, банки, страховые компании, ведется успешное сотрудничество с надежными поставщиками материалов, оборудования и услуг для максимально эффективной реализации проектов.</p>
            <p>На сегодняшний день ГК «Монолит» занимает лидирующие позиции среди застройщиков полуострова, в планах у которой сделать Крым витриной России.</p>
        </article>
        <div>
            <div id="section-about__logo"></div>
            <div id="section-about__statistic">
                <div class="stat-group">
                    <span class="stat-group__big">{{ monolit_company_age }}</span>
                    <span class="stat-group__muted">лет опыта</span>
                </div>
                <div class="stat-group">
                    <span class="stat-group__big">240 689 м<sup>2</sup></span>
                    <span class="stat-group__muted">недвижимости для жизни и бизнеса</span>
                </div>
                <div class="stat-group">
                    <span class="stat-group__big">10 000</span>
                    <span class="stat-group__muted">довольных клиентов</span>
                </div>
            </div>
        </div>
    </div>
</section>
