{% if not object.all_sold %}
    <div id="section-sites-types">
        <div id="section-sites-types__inner" class="container">
            <div id="section-sites-types__bottom">
                <div class="site-type-card site-type-card__room-0">
                    <div class="site-type-card__icon">
                        <div class="room room_0"></div>
                    </div>
                    <div class="site-type-card__content">
                        <div class="site-type-card__title">
                            <a href="">Студии</a>
                        </div>
                        <div class="site-type-card__info">
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Площадь</div>
                                <div class="site-type-card__info--area"></div>
                            </div>
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Стоимость</div>
                                <div class="site-type-card__info--price"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-type-card site-type-card__room-1">
                    <div class="site-type-card__icon">
                        <div class="room room_1"></div>
                    </div>
                    <div class="site-type-card__content">
                        <div class="site-type-card__title">
                            <a href="">1 комнатные</a>
                        </div>
                        <div class="site-type-card__info">
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Площадь</div>
                                <div class="site-type-card__info--area"></div>
                            </div>
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Стоимость</div>
                                <div class="site-type-card__info--price"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-type-card site-type-card__room-2">
                    <div class="site-type-card__icon">
                        <div class="room room_2"></div>
                    </div>
                    <div class="site-type-card__content">
                        <div class="site-type-card__title">
                            <a href="">2 комнатные</a>
                        </div>
                        <div class="site-type-card__info">
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Площадь</div>
                                <div class="site-type-card__info--area"></div>
                            </div>
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Стоимость</div>
                                <div class="site-type-card__info--price"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-type-card site-type-card__room-3">
                    <div class="site-type-card__icon">
                        <div class="room room_3"></div>
                    </div>
                    <div class="site-type-card__content">
                        <div class="site-type-card__title">
                            <a href="">3 комнатные</a>
                        </div>
                        <div class="site-type-card__info">
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Площадь</div>
                                <div class="site-type-card__info--area"></div>
                            </div>
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Стоимость</div>
                                <div class="site-type-card__info--price"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-type-card site-type-card__room-4">
                    <div class="site-type-card__icon">
                        <div class="room room_4"></div>
                    </div>
                    <div class="site-type-card__content">
                        <div class="site-type-card__title">
                            <a href="">4+ комнатные</a>
                        </div>
                        <div class="site-type-card__info">
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Площадь</div>
                                <div class="site-type-card__info--area"></div>
                            </div>
                            <div class="site-type-card__info--block">
                                <div class="site-type-card__info--title">Стоимость</div>
                                <div class="site-type-card__info--price"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
