#section-company-history {
    padding-bottom: 50px;

    &__inner {
        display: grid;
        grid-template-columns: 1fr;

        @include media-breakpoint-only(xl) {
            grid-template-columns: 80%;
        }
    }
}
