<div id="section-family-types-filters" class="container">
    <div id="section-family-types-filters__top">
        <span>Выберите тип семьи</span>
    </div>
    <div id="section-family-types-filters__inner">
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-young-alone"></div>
                </div>
            </div>
            <div class="filter_family__name">Одинокий молодой</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-adult-alone"></div>
                </div>
            </div>
            <div class="filter_family__name">Взрослый холостой</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-young-couple"></div>
                </div>
            </div>
            <div class="filter_family__name">Молодая пара</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-adult-couple"></div>
                </div>
            </div>
            <div class="filter_family__name">Взрослая пара</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-parents-with-child"></div>
                </div>
            </div>
            <div class="filter_family__name">Семья с 1 ребенком</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-with-children"></div>
                </div>
            </div>
            <div class="filter_family__name">Семья с 2 детьми</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="filter_family__circle">
                    <div class="family-type family-with-three-children"></div>
                </div>
            </div>
            <div class="filter_family__name">Семья с 3 детьми</div>
        </div>
        <div class="filter_family">
            <div class="filter_family__circle">
                <div class="family-type family-with-children-and-elder"></div>
            </div>
            <div class="filter_family__name">Большая семья</div>
        </div>
    </div>
</div>
