.object-page {
    background-image: url('images/bg-lightgrey-line.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;

    #content {
        padding-top: 0;
    }

    #section-site-page-mortgage {
        background-image: linear-gradient(to right, #fafafa, transparent);
    }
}
