.objects {
    background-image: url('images/bg-lightgrey-line.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;

    #section-compleated-projects {
        margin-bottom: -50px;
    }
}
