.site-page-section {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    // &__content {}
}
